page-event-detail {

  ion-fab {
    left: 50%;
    transform: translateX(-50%);
    .fab {
      width: 93vw;
      height: 35px;
      border-radius: 50px;
    }
  }

  .EventCard {
    padding-bottom: 0;
  }

  .scroll-content {
  }

  .more-info {
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, .12);

    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &--text {
        margin: 0 0 0 10px;

      }
    }

    &__description {
      padding: 10px;
      text-indent: 20px;
      background-color: rgba(0, 0, 0, .05);
      text-align: justify;
      margin-bottom: 30px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }


    &__maps {
     margin-bottom: 10px;

      &-container {
        display: flex;
        align-items: center;
      }

      &--text {
        margin-left: 10px;
      }
      &-map {
        width: 100%;
        height: 200px;
      }
    }
  }

}
