event-cover-image {

  .img-loaded + ion-spinner {
    display:none;
  }

  .cover {
    height: 200px;
    position: relative;

    &__img{
      width: 100%;
    }

    &__loader-img{
      position: absolute;
      top:35%;
      left:50%;
      transform: translate(-50%, -50%);

    }

    &__layer {
      position: absolute;
      height: 76px;
      width: 100%;
      bottom: 0;
      background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5), rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)) ;
      z-index: 1;
    }

    &__day {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, .7);
      z-index: 2;
      border-bottom-right-radius: 5px;
      padding: 5px 10px;
      font-size: 16px;
      color: #fff;
      font-weight: bold;
    }

    &__discount{
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(86, 29, 113, .9);
      z-index: 2;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      font-size: 14px;
      color: #fff;
      font-weight: 400;
    }

    &__info {
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: #fff;
      z-index: 2;
      width: 73%;

      &__title {
        font-size: 16px;
        margin-bottom: 0;
      }

      &__subtitle {
        font-size: 12px;
        margin: 3px 0 0 0;
      }
    }

    &__badge {
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 5px 10px;
      border-radius: 50px;
      z-index: 2;
      background-color: lighten(color($colors, primary), 15);
    }
  }

}
