<!-- Generated template for the EventCoverImageComponent component -->

<div class="cover" >

  <img class="cover__img" height="200" (error)="event.img = './../assets/images/no-image.jpeg'" (load)="imgLoaded = true" src="{{event?.img}}"/>

  <ion-spinner *ngIf="!imgLoaded" class="cover__loader-img" color="light" name="crescent"></ion-spinner>

  <div class="cover__layer">
  </div>



  <div class="cover__day">
    {{setDate(event.startDate)}}
  </div>

  <div *ngIf="event.discount" class="cover__discount">
    {{event.discount}}%<br>OFF
  </div>

  <div class="cover__info">
    <h5 class="cover__info__title">{{event.title}}</h5>
    <p class="cover__info__subtitle">{{event.subtitle}}</p>
  </div>

  <ion-badge class="cover__badge">{{event.tags.partyKind && event.tags.partyKind[0]}}</ion-badge>

</div>
