page-coupon-modal {

  ion-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, .3);
  }
  .layer {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 1;
  }

  .coupon-content {

    background: url('../assets/images/ticket.png') no-repeat center center;
    background-size: cover;
    padding: 30px 33% 40px 33% ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 2;
    //box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.15);
    width: 120%;
    height: 60%;

    &__header {
      font-size: 20px;
      margin-top: 0;
      padding-bottom: 15px;
      //  border-bottom: 1px solid rgba(0, 0, 0, .3);
      position: relative;
      color: #fff;
      z-index: 3;

      button {
        position: absolute;
        right: -20px;
        top: -40px;
        font-size: 20px;
        color: #fff;
      }
    }

    &__main {
      padding: 40px 10px;
      font-size: 18px;
      margin: 20px 0;
      position: relative;
      z-index: 3;
    }

    &__footer {
      //  border-top: 1px solid rgba(0, 0, 0, .1);
      position: relative;
      z-index: 3;
      color: #fff;
      margin: 0 ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      &__desc {
        margin: 0;
        font-size: 12px;

      }

      &__link {
        color: color($colors, primary);
        font-weight: bold;
        text-decoration: underline;
        font-size: 16px;

        @media (max-width: 320px) {
          font-size: 14px;
        }
      }

    }
  }

}
