event-card {

  .EventCard {
    background-color: color($colors, primary);
    padding-bottom: 10px;

    .col {
      padding-top: 0;

    }

    ion-icon {
      margin-right: 3px;
      color: color($colors, darker-text);
    }

    span {
      color: color($colors, darker-text);
    }

    .info {
      background-color: #fff;

      &__time {
        ion-icon {
          margin-left: 5px;
        }
      }

      &__place {
        border-bottom: 1px solid lightgray;
        padding-bottom: 0;
        margin-bottom: 10px;

        &__pin {
          display: flex;
          align-items: center;

          ion-icon {
            margin-right: 10px;
          }
        }

        &__music {
          text-align: right;
          span {
            color: color($colors, text);
          }
        }

        &__attending {

          &--wrapper {
            text-align: center;
          }
          &--count {
            border-radius: 50%;
            padding: 13px 0;
            width: 39px;
            margin-left: auto;
            background-color: color($colors, darker-text);
            font-size: 10px;
            color: #fff;
          }

        }
      }
    }

  }

}
