<!--
  Generated template for the FiltersModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only color="light" (click)="onClose()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Filtros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list  *ngIf="filters">
    <ion-item  *ngFor="let t of ['musicStyle', 'locationRegion', 'partyKind']">
      <ion-label>{{filters[t].name}}</ion-label>
      <ion-select [(ngModel)]="filters[t].value" multiple="{{filters[t].multipleChoice}}" cancelText="cancelar" okText="aplicar">
        <ion-option *ngFor="let m of filters[t].array">{{m}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>



  <section class="btn-wrapper">
          <button ion-button color="primary" clear (click)="onClear()">Limpar</button>
          <button ion-button color="primary" (click)="onFilter()" clear>Aplicar</button>
  </section>

</ion-content>
