page-events {

  .loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: color($colors, primary);

    ion-spinner {
      margin-bottom: 5px;

    }
  }

}
