page-events {

  .toolbar-title{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      margin-right: 5px;
    }

    .logo-name{
      font-weight: 400;
    }
  }

  .loading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: color($colors, primary);

    ion-spinner {
      margin-bottom: 5px;

    }
  }

}
